/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    font-size: large;
}

/* Headings and logos */
h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #844112;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: x-large;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

/* Navbar */
#navbar,
#logo {
    line-height: 50px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 150%;
}

#navbar a {
    color: #844112;
    text-decoration: none;
}

#navbar a:hover {
    color: #0a620a;
    border: solid 1px #0a620a;
}

/* Main image */

#mainimage {
    height: 600px;
    width: 100%;
    background: url(../images/mainimage.jpeg) no-repeat center center;
    overflow: hidden;
}

/* about section */