/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    font-size: large;
    max-width: 1450px;
    margin: 0 auto;
    float: none;
}

/* Headings and logos */
h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #844112;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: x-large;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

/* Navbar */
#navbar,
#logo {
    line-height: 50px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 150%;
}

#navbar a {
    color: #844112;
    text-decoration: none;
}

#navbar a:hover {
    color: #0a620a;
    border: solid 1px #0a620a;
}

/* Main image */

#mainimage {
    height: 400px;
    width: 100%;
    background: url(../images/mainimage.jpeg) no-repeat center center;
    overflow: hidden;
    position: relative;
}

#mainimage h2 {
    color: white;
    background-color: rgba(132, 65, 18, 0.5);
    bottom: 50px;
    left: 50px;
    position: absolute;
}

/* about section */

#about {
    margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 250px;
}

i {
    color: #844112;
}

#mobile {
    visibility: hidden;
}

#desktop {
    visibility: visible;
}

/* Schedule section */

#schedule-image img {
    float: left;
    height: 350px;
    width: 50%;
    margin-left: 0;
}

#schedule-table {
    height: 350px;
}

#schedule-table table {
    text-align: center;
    float: right;
    height: 200px;
    width: 50%;
    padding: 10px;
    position: relative;
    margin-top: 10px;
}

#schedule-table th {
    text-decoration: underline;
}

/* signup section */
#signup {
    height: 450px;
    margin-bottom: 25px;

}

#signupform {
    height: 450px;
    float: left;
    width: 50%;
}

form input {
    border: #844112 1px solid;
    display: block;
    margin: auto;
}

#join {
    background-color: #844112;
    color: white;
    font-size: xx-large;
    border-radius: 2px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#join:hover {
    background-color: #0a620a;
    color: white;
    font-size: xx-large;
}

#signupimage img {
    float: right;
    height: 400px;
    width: 50%;
}

/* footer */
footer {
    height: 100px;
    background-color: #844112;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer i {
    color: white;
    font-size: larger;
    letter-spacing: 5vh;
}

footer li {
    list-style-type: none;
    display: inline;
    line-height: 100px;
}

/* Screens smaller than 960px */
@media screen and (max-width:960px) {
    #navbar {
        float: left;
    }

    #navbar li {
        float: right;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #about {
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #schedule-image img {
        width: 100%;
    }

    #schedule-table table {
        width: 100%;
    }

    #signupform {
        width: 100%;
        margin-bottom: 10px;
    }

    #signupimage img {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 100px;
    }

    #mobile {
        visibility: visible;
    }

    #desktop {
        visibility: hidden;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

/* Screens smaller than 450px */
@media screen and (max-width:450px) {
    #navbar li {
        margin-right: 0;
    }
}